<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CATSUNTREE</title>
    <!--main-css-->
    <link rel="stylesheet" href="../static/framework/layui-v2.5.4/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/NewIndex_basic.css">
    <link rel="stylesheet" href="../static/framework/zTree_v3-master/css/zTreeStyle/zTreeStyle.css">
    <!--test-->
    <!--    <link rel="stylesheet" href="../static/css/NewIndex_basic_testing.css">-->
    <!--framework-->
    <script src="../static/framework/Jquery/jquery-3.4.1.js"></script>
    <script src="../static/framework/layui-v2.5.4/layui/layui.js"></script>
    <script src="../static/framework/zTree_v3-master/js/jquery.ztree.all.js"></script>
    <!--Custom-->
    <script src="../static/js/NewIndex_Global.js"></script>
    <script src="../static/js/NewIndex_interactive.js"></script>
    <script src="../static/js/NewIndex_getProperties.js"></script>
    <script src="../static/js/NewIndex_getTreedatas.js"></script>
    <script src="../static/js/NewIndex_catsuntreeBuild.js"></script>
</head>
<body>
<!--进度条-->
<div id="layuiBar" class="layui-progress" lay-filter="demo" lay-showPercent="true">
    <div class="layui-progress-bar layui-bg-orange" lay-percent="70%"></div>
</div>
<!--JDBC核心区-->
<div class="jdbczoon" id="jdbczoon">
    <!--    显示条 start-->
    <div id="c3"></div>
    <!--    显示条 end-->
    <!--    参数填写区 start-->
    <div id="c2">
        <div>
            <textarea placeholder="&#10;Please input some JDBC information....."></textarea>
        </div>
        <div>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-fluid" id="showAllTables"
                                title="首次点击可能会出现弹框错位&#10;再试一次!">Explore Server
                        </button>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-btn-group" id="nextTime">
                            <button type="button" class="layui-btn" title=":)"><i class="layui-icon layui-icon-rate-solid"></i></button>
                            <button type="button" class="layui-btn" title=":)"><i class="layui-icon layui-icon-face-smile"></i></button>
                            <button type="button" class="layui-btn" title=":)"><i class="layui-icon layui-icon-component"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--    参数填写区 end-->
    <!--    外部按钮组区 start-->
    <div id="c1">
        <form class="layui-form" action="" style="width: 100%;height: 100%; padding-top: 2px">
            <div>
                <div class="layui-form-item">
                    <button type="reset" class="layui-btn layui-bg-orange" title="重置" id="resetJDBCtextarea"><i
                            class="layui-icon">&#xe669;</i>
                    </button>
                </div>
                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-bg-black" title="清空" id="cleanJDBCtextarea"><i
                            class="layui-icon">&#xe640;</i>
                    </button>
                </div>
                <div class="layui-form-item" id="jsonCheck">
                    <button type="button" class="layui-btn layui-bg-gray" title="JSON格式校验"><i class="layui-icon">&#xe64c;</i>
                    </button>
                </div>
                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-bg-blue" title="获取" id="connDB"><i
                            class="layui-icon">&#xe615;</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--外部按钮组区 end-->
</div>
<!--ztree按钮组-->
<div id="ztreebtns" style="width: 40px;">
    <div id="tree1_ExpandAll" title="展开全部">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-orange">
            <i class="layui-icon layui-icon-next"></i>
        </button>
    </div>
    <div id="tree1_closeAll" title="收起全部">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-orange">
            <i class="layui-icon layui-icon-prev"></i>
        </button>
    </div>
    <div id="tree1_showCid" title="重新组合节点名称展示的信息">
        <button type="button" class="layui-btn layui-btn-sm">
            <i class="layui-icon layui-icon-rate"></i>
        </button>
    </div>
    <div id="tree1_init" title="恢复最近">
        <button type="button" class="layui-btn layui-btn-sm">
            <i class="layui-icon layui-icon-refresh-3"></i>
        </button>
    </div>
    <div id="tree1_ext4" title="砍树">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-cyan">
            <i class="layui-icon layui-icon-close"></i>
        </button>
    </div>
    <!--回到顶部按钮-->
    <div id="back2top" style="display: none;">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-red">
            <i class="layui-icon layui-icon-up"></i>
        </button>
    </div>
</div>
<!--ztree核心区-->
<div class="zteezoon" id="zteezoon">
    <div id="z1">
        <ul id="treemain" class="ztree"></ul>
    </div>
</div>
<!--功能组件-->
<div id="weldiv" style="opacity: 1">
    <button id="welcomebtn" type="button" class="layui-btn layui-btn-fluid">StartUp</button>
</div>
</body>
</html>