<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    // var a = "[{\"tablename\":\"channel\",\"cid\":\"new_channelId\",\"pcid\":\"new_parentId\",\"cname\":\"name\"},{\"tablename\":\"category_basic\",\"cid\":\"migrate_id\",\"pcid\":\"parent\",\"cname\":\"name\"}]";
    // var b = JSON.parse(a);
    var a=[{"tablename":"channel","cid":"new_channelId","pcid":"new_parentId","cname":"name"},{"tablename":"category_basic","cid":"migrate_id","pcid":"parent","cname":"name"}];

    console.log(a.length);

</script>
</body>
</html>